.signin-view {
}

.signin-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0; 
    border: none;
    background-color: transparent;
    box-shadow: none; 
    gap: 10px;
}

.signin-form__title {
    text-align: center;
    color: #333333;
    font-size: 28px; 
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 20px; 
}

.form-group {
    width: 100%; 
    margin: 0; 
}

.form-group__input {
    width: 100%; 
    box-sizing: border-box; 
    padding: 12px 18px;
    font-size: 16px; 
    border-radius: 10px; 
    border: 1px solid #e1e5e9; 
    background-color: #f8f9fa; 
    color: #333;
}

.form-group__input::placeholder {
    color: #8a94a6; 
    font-size: 15px;
}

.form-group__input:focus {
    border-color: #2060ce !important;
    box-shadow: 0 0 0 2px rgba(32, 96, 206, 0.2) !important; 
    background-color: white;
    outline: none !important;
}

.form-options {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px; 
    margin-bottom: 10px; 
}

.form-options__link {
    color: #2f94d3; 
    font-size: 14px; 
    font-weight: 600; 
    padding: 5px 0;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: none;
}

.form-options__link:hover {
    color: #0b0157;
    text-decoration: underline;
}

.signin-form__button {
    background-color: #2f94d3; 
    color: white; 
    padding: 14px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    width: 250px;
    margin-top: 15px; 
    margin-left: auto; 
    margin-right: auto; 
    align-self: center; 
    transition: all 0.3s ease;
    cursor: pointer;
}

.signin-form__button:hover:not([disabled]) {
    background-color: #2060ce; 
    transform: translateY(-2px);
}

.signin-form__button:disabled, 
.signin-form__button--loading {
    background-color: #a0aec0; 
    cursor: not-allowed;
    opacity: 0.7;
}